/* ===================================
  VARIABLES
  =================================== */

:root {
  --darkblue: #06397d;
  --blue: #82add6;
  --gray: #e4e9f4;
  --yellow: #facb66;
  --saffron: #911f1e;
  --bg: #ccdde8;
  --bg2: #a82028;
  --bg-section: #68c8fc;
  --bg-section2: #a7e2f9;
  --bg-producto: #00a6ff;
  --bg-producto2:#94e1ff;
  --bg-header:  #178fd6;
  --card-color: #dffaff;
  --gradiente-1: radial-gradient(1200px 800px at 20% -10%, rgba(255, 255, 255, 0.977), transparent);
  --gradiente-2: radial-gradient(1200px 800px at 120% 10%, rgb(198, 226, 250), transparent);
  --bg-gradiente: var(--gradiente-1), var(--gradiente-2);
  --surface: linear-gradient(0deg, rgba(255, 38, 38, 1), rgb(255, 109, 109, 1));
  --titles: "Orbitron", sans-serif;
  --text: "Roboto", sans-serif;
  --textColor: #000000;
  --textSecondary: #000000;
  --colorAnchor: #000;
  --colorAnchorHover: #ff0000;
  --borderColor: #fff;
  --radius: 3rem;
  --shadow: 0.625rem 1rem 10px rgba(32, 32, 32, 0.529);
  --paddingBlock: clamp(1rem, 2vw, 2rem);
}

/* ===================================
  GLOBALES
  =================================== */


* {
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--textColor);
  font-family: var(--text);
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

input,
select,
textarea,
button {
  font: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--titles);
}

a {
  color: var(--colorAnchor);
  text-decoration: none;
}

a:hover {
    color: var(--colorAnchorHover);
}

/* ===================================
  OVERRIDES
  =================================== */

.bg-primary {
    background-color: var(--bg-header) !important;
}

/* ===================================
 CLASES PERSONALIZADAS 
=================================== */

.seccion {
  background: linear-gradient(0deg, var(--bg-section), var(--bg-section2));
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.producto {
  background: var(--bg-producto);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

/* Para las tarjetas de noticias */

.Noticias-Card {
  background: var(--card-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.Noticias-Img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.Eventos-Card {
    background: var(--card-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Para las tarjetas de producto */

.Producto-Box {
  transition: box-shadow 0.4s;
  border: none;
  width: 18rem;
}

.Producto-Box:hover {
  box-shadow: 0 0 10px black;
}

.Producto-Comprar-Boton {
  color: #fffcf6;
  border: none;
  background-color: #178fd6;
  border-radius: 8px;
  transition: 0.3s;
}

.Producto-Comprar-Boton:hover {
  opacity: 0.8;
}

.Producto-Comprar-Boton:active {
  background-color: #0d527a;
}

.nav-direction{
  justify-content: space-evenly;
}

/* Para los enlaces del nav bar */

.nav-link-boxed {
  padding: .5rem .75rem;
  border: 1px solid var(--borderColor);
  border-radius: var(--radius);
  background-color: #f8fdfd;
  color: #000 !important;
  transition: background .2s, color .2s, border-color .2s;
  margin: 0.25rem 0.5rem;
}

.nav-link-boxed:hover {
  background-color: #ff2626;
  color: white !important; 
  border-color: #ff2626;
}

/* Para las pokebolas del nav bar */

.pokeball-link {
  position: relative; 
  padding-left: 2rem !important;
  margin: 0 0.5rem; 
  font-weight: bold;
}

.pokeball-link::before {
  content: "";
  position: absolute;
  left: 0.5rem; 
  top: 50%;
  transform: translateY(-50%);
  width: 16px; 
  height: 16px;
  background: url("../assets/Tab-Logo.png") no-repeat center/contain; 
}

